%section.page__main
  .logo__big
    = image_tag "logo/complete/white.svg", class: "logo--graphic", alt: t("wc_fullname")
    %span.logo--caption= t("logo.caption")
/ %section.page__references.swipe#referenceSlider
/   .swipe-wrap
/     %div's placed here will be included in the slider
%section.page__map#map-canvas
%footer.page__contact
  .logo__small.contact--logo
    = image_tag "logo/complete/white.svg", class: "logo--graphic", alt: t("wc_fullname")
  .contact--info
    = t("contact.always_available")
    %br
    = t("contact.email_us")
    = link_to "info@webcake.ch", "mailto:info@webcake.ch"